.Synonyms {
  margin-top: 15px;
  font-size: 15px;
}
.Synonyms .title {
  font-weight: 700;
  padding-right: 10px;
}
.Synonyms .synonym-word ul {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.Synonyms .synonym-word li {
  padding-right: 10px;
}

.Synonyms a {
  text-decoration: none;
  color: black;
}
.Synonyms a:hover {
  color: #f76b8a;
}
